@import url(./toolbar.css);
@import url(./media.css);

.support-block {
  height: 250px;
  background: #0FB8D3 url(../images/support-bg.svg) no-repeat center center;
}

.support-block .container {
  height: 100%;
}

.support-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  text-align: left;
}

.support {
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 20px;
  text-align: left;
}

.v-carousel__controls {
  background: none;
}

.footer {
  background: #2C2C2C;
}

.footer-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-top: 20px;
}

.footer-list {
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

.footer-list li a {
  font-size: 12px;
  line-height: 14px;
  color: #A2A2A2;
}

.footer-list li a:hover {
  color: white;
  transition: 0.3s;
}

.footer-bottom {
  border-top: 1px solid #A2A2A2;
  height: 70px;
  margin-top: 20px;
}

.footer-copyright {
  font-size: 14px;
  line-height: 16px;
  color: #DBDBDB;
  display: flex;
  align-items: center;
  height: 100%;
}

.footer-payment {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer-payment span {
  font-size: 14px;
  line-height: 16px;
  color: #DBDBDB;
}

.footer-payment img {
  margin: 0px 10px;
}

.footer-partners {
  display: flex;
  justify-content: flex-end;
}

.footer-partners img {
  margin-left: 20px;
}
