    
@media only screen and (min-width: 1264px){
    .container {
        max-width: 1140px;
    }
    .v-toolbar__content{
        max-width: 1140px;
        margin: auto;
    }
}

@media only screen and (min-width: 1904px){
    .container {
        max-width: 1140px;
    }
    .v-toolbar__content{
        max-width: 1140px;
        margin: auto;
    }
}
@media only screen and (max-width: 959px){
    .container {
        max-width: 500px;
    }
    .v-toolbar__content{
        max-width: 500px;
        margin: auto;
    }
}